Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
channels
django-ckeditor
django-filter
django-allauth
google-auth
sendgrid
psycopg2-binary
python-decouple
pillow
qrcode
stripe
celery
cloudinary
redis
